

 

<div class="row" style="margin-top:30px;">

    <!-- <div class="col-md-2 offset-md-4" style="cursor: pointer;margin-left:150px;" (click)="showRetailDiv(1)">Cash Send

    </div>

    <div class="col-md-2 offset-md-4" style="cursor: pointer;margin-left:150px;" (click)="showRetailDiv(2)">Retail

    </div> -->

    <div class="col-md-5 offset-md-4">

        <Strong>

            <h2> CASHSEND XTRA</h2>

        </Strong>

    </div>

</div>

 

 

<div class="row" style="margin-top:30px;">

    <div class="col-md-3 offset-md-5">

        Available Balance <strong>R {{amount}}</strong>

    </div>

    <div class="col-md-1">

 

    </div>

 

</div>

 

<div *ngIf="showRetail" style="margin-top:30px;margin-left: 220px;">

 

    <div class="row">

        <div class="col-md-2 offset-md-2">

            <input type="radio" value="Transfer" name="sendType" [(ngModel)]="selectTransfer"

                (change)="transferTypeChange(0)"> Transfer To Account

        </div>

        <div class="col-md-2">

            <input type="radio" value="Send" name="sendType" [(ngModel)]="selectTransfer"

                (change)="transferTypeChange(1)"> Transfer To CellNumber

        </div>

    </div>

 

    <div *ngIf="showTransferDiv">

        <div class="row" style="margin-top: 35px;">

            <div class="col-md-5">

                <!-- <h3> Cash Send - Transfer</h3> -->

            </div>

        </div>

        <div class="row" style="margin-top: 15px;margin-left: 25px;">

            <div class="col-md-4 offset-md-1"><input type="radio" name="transferType" value="cheque"> <span

                    style="margin-left: 15px;">Cheque Account </span><span style="margin-left:70px">1723408234 </span>

            </div>

        </div>

        <div class="row" style="margin-top: 15px;;margin-left: 25px;">

            <div class="col-md-4 offset-md-1"><input type="radio" name="transferType" value="credit"><span

                    style="margin-left: 15px;">Credit Card </span><span style="margin-left:105px">8787452309813456

                </span></div>

        </div>

        <div class="row" style="margin-top: 15px;;margin-left: 25px;">

            <div class="col-md-4 offset-md-1"><input type="radio" name="transferType" value="investment"> <span

                    style="margin-left: 15px;">Savings </span><span style="margin-left:128px"> 9765547687</span> </div>

        </div>

        <div class="row" style="margin-top: 25px;;margin-left: 25px;">

            <div class="col-md-2 offset-md-1 ">Amount</div>

            <div class="col-md-4"><input type="text" [(ngModel)]="transferAmount" class="form-control"

                    placeholder="Amount"> </div>

        </div>

        <div class="row" style="margin-top: 35px;;margin-left: 25px;">

            <div class="col-md-2 offset-md-3"><input class="form-control btn btn-danger" type="button"

                    (click)="cancelEvent()" value="Cancel">

            </div>

            <div class="col-md-2"><input class="form-control btn btn-primary" type="button"

                    (click)="transferAmountEvent()" value="Transfer"> </div>

        </div>

    </div>

 

    <div class="row" *ngIf="showValidataionError" style="margin-top:20px;">

        <strong>

            <h3>Amount exceeds available balance... </h3>

        </strong>

    </div>

    <div class="row" *ngIf="showSucess" style="margin-top:20px;">

        <strong>

            <h3>Amount transferred sucessfully... </h3>

        </strong>

    </div>

 

    <div *ngIf="showCashDiv">

        <div class="row" style="margin-top: 35px;">

            <div class="col-md-5">

                <!-- <h3> Send To Number</h3> -->

            </div>

        </div>

        <div class="row" style="margin-top: 15px;margin-left: 25px;">

            <div class="col-md-2 offset-md-1">Cell Number</div>

            <div class="col-md-4"><input type="text" class="form-control" placeholder="Cell Number"> </div>

        </div>

        <div class="row" style="margin-top: 15px;margin-left: 25px;">

            <div class="col-md-2 offset-md-1">Amount</div>

            <div class="col-md-4"><input type="text" [(ngModel)]="transferAmount" class="form-control"

                    placeholder="Amount"> </div>

        </div>

        <div class="row" style="margin-top: 15px;margin-left: 25px;">

            <div class="col-md-2 offset-md-1">Pin</div>

            <div class="col-md-4"><input type="text" class="form-control" placeholder="Pin"> </div>

        </div>

        <div class="row" style="margin-top: 35px;margin-left: 25px;">

            <div class="col-md-2 offset-md-3"><input class="form-control btn btn-danger" type="button"

                    (click)="cancelEvent()" value="Cancel">

            </div>

            <div class="col-md-2"><input class="form-control btn btn-primary" (click)="sendToNumber()" type="button"

                    value="Send"> </div>

        </div>

        <div class="row" *ngIf="showSucessSendToNumber" style="margin-top:20px;">

            <strong>

                <h3>Amount transferred sucessfully... </h3>

            </strong>

        </div>

        <div class="row" *ngIf="showErrorSendToNumber" style="margin-top:20px;">

            <strong>

                <h3>Amount exceeds available balance... </h3>

            </strong>

        </div>

 

    </div>

 

</div>

 

<div *ngIf="showCash" style="margin-top:30px;margin-left: 220px;">

 

    <div class="row" style="margin-top: 15px;">

        <div class="col-md-5">

            <h3> Retail Store Screen</h3>

        </div>

    </div>

    <div class="row" style="margin-top: 15px;">

        <div class="col-md-2">10 Digit Pin</div>

        <div class="col-md-4"><input type="text" class="form-control" placeholder="10 Digit Pin"> </div>

    </div>

    <div class="row" style="margin-top: 15px;">

        <div class="col-md-2">5 Digit Pin</div>

        <div class="col-md-4"><input type="text" class="form-control" placeholder="5 Digit Pin"> </div>

    </div>

 

    <div class="row" style="margin-top: 35px;">

        <div class="col-md-2 offset-md-2"><input class="form-control btn btn-danger" type="button" value="Withdraw">

        </div>

        <div class="col-md-2"><input class="form-control btn btn-primary" type="button" value="Purchase"> </div>

    </div>

    <div class="row" style="margin-top: 35px;">

        <div class="col-md-2 offset-md-2"><input class="form-control btn btn-danger" type="button" value="Cancel"></div>

    </div>

</div>